<h1>Listing products</h1>

<div>
  <%= form_tag( products_path, :method => 'get' ) do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Maker</th>
      <th>Color</th>
      <th>Price</th>
      <th width="150">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.maker %></td>
        <td><%= product.color %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to 'Show', product %> |
          <%= link_to 'Edit', edit_product_path(product) %> |
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products %>

<br>

<%= link_to 'New Product', new_product_path %>
